﻿<div gem-table-form controller="components.gem.forms.Table">
    <style component="./../Theme.html"></style>
    <style component="css-material-icons"></style>
    <style component="css-helpers"></style>
    <style>
        [gem-table-form] {
            position: relative;
        }

        [gem-table-form-header] {
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #D6D6CE;
            visibility: hidden;
        }

        [gem-table-form-header-group] {
            overflow: visible;
            height: 40px;
            position: relative;
            z-index: 3;
            background-color: #D6D6CE;
            visibility: visible;
        }


        [gem-table-form-data] {
            width: 100%;
            overflow-y: scroll !important;
            overflow-x: scroll !important;
            position: absolute;
            top: 40px;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #fff;
            z-index: 1;
        }

        [gem-table-form-veil] {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        [gem-table-form-veil-color] {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0.8;
        }

        .gem-column-headers[order-by='asc'] > div > i::after {
            content: "arrow_drop_up";
            font-size: 24px;
            color: rgba(0,0,0,0.3);
        }

        .gem-column-headers[order-by='desc'] > div > i::after {
            content: "arrow_drop_down";
            font-size: 24px;
            color: rgba(0,0,0,0.3);
        }
    </style>
    <div class="gem-inset absolute-fill-parent">
        <div tag="header-container" gem-table-form-header>
            <div tag="header" gem-table-form-header-group>
            </div>
        </div>
        <div class="gem-column-headers" style="visibility: visible; z-index: 2; width: 100%; height: 40px; box-sizing: border-box; position: absolute; top: 0; left: 0; border-right: 0; "></div>
        <div tag="list"
             gem-table-form-data
             component="ui-collection"
             item-component="./TableListItem.html"
             item-height="40"
             controller="components.material.layouts.List">
        </div>
        <div tag="veil" gem-table-form-veil class="hide">
            <div gem-table-form-veil-color></div>
            <div class="bullseye" style="display: inline-block; ">
                <div component="./../Loading.html" style="width: 50px; height: 50px; "></div>
            </div>
        </div>
        <div tag="error" gem-table-form-veil class="hide">
            <div gem-table-form-veil-color></div>
            <div class="bullseye" style="display: inline-block; ">
                <div style="width: 150px;text-align:center;">
                    <div><i class="material-icons" style="color:#940000;font-size:50px;">&#xE001;</i></div>
                    <div tag="error-message">Unknown Error</div>
                    <button tag="try-again" class="gem-button" style="margin-top:10px;">TRY AGAIN</button>
                </div>
            </div>
        </div>
    </div>
</div>