﻿<div>
    <style>
        .loader {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        }

        .box-loading {
            width: 45%;
            height: 45%;
            background: rgba(0, 148, 255, 0.70);
            opacity: 0;
            -webkit-animation: load 1s linear infinite;
            animation: load 1s linear infinite;
        }

            .box-loading:nth-of-type(1) {
                position: absolute;
                top: 2.5%;
                left: 2.5%;
            }

            .box-loading:nth-of-type(2) {
                position: absolute;
                top: 2.5%;
                right: 2.5%;
                -webkit-animation-delay: -0.25s;
                animation-delay: -0.25s;
            }

            .box-loading:nth-of-type(3) {
                position: absolute;
                bottom: 2.5%;
                right: 2.5%;
                -webkit-animation-delay: -0.5s;
                animation-delay: -0.5s;
            }

            .box-loading:nth-of-type(4) {
                position: absolute;
                bottom: 2.5%;
                left: 2.5%;
                -webkit-animation-delay: -0.75s;
                animation-delay: -0.75s;
            }

        @-webkit-keyframes load {
            0% {
                opacity: 0;
            }

            30% {
                opacity: 0;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes load {
            0% {
                opacity: 0;
            }

            30% {
                opacity: 0;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    </style>
    <div class="loader">
        <div class="box-loading"></div>
        <div class="box-loading"></div>
        <div class="box-loading"></div>
        <div class="box-loading"></div>
    </div>
</div>